<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo">ABP-NG-ZORRO</div>
      <app-route></app-route>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <app-nav-items></app-nav-items>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <h1>{{ '::Welcome' | abpLocalization }}</h1>
        <div class="row">
          <div class="col-md-6 mx-auto">
            <p>{{ '::LongWelcomeMessage' | abpLocalization }}</p>
            <hr class="my-4" />
          </div>
        </div>
        <a href="https://abp.io?ref=tmpl" target="_blank" class="btn btn-primary px-4">abp.io</a>
        <a *ngIf="!hasLoggedIn" (click)="login()" class="px-4 btn btn-primary ml-1" role="button"><i
            class="fa fa-sign-in"></i> {{ 'AbpIdentity::Login' | abpLocalization }}</a>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>